body {
    background-color: black;
    background-image: url("./duckBg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    color: white;
    text-align: center;
}
p{
    font-size: 2rem;
}
.log{
    text-align: center;
    font-size: 1rem;
}
h1{
    background-color: orange;
    color: black;
    margin:auto;
    font-size: 3rem;
}
img{
    max-width: 60vw;
    max-height: 30vh;
    height: auto;
    padding: 10px;
}